<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Votação</ion-title>   
  </ion-navbar>
</ion-header>  
<ion-content>
    <ion-refresher (ionRefresh)="doRefresh($event)">
        <ion-refresher-content></ion-refresher-content>
    </ion-refresher>
    <ion-card *ngFor="let m of enquetes">
        <img src="assets/imgs/borras/mela11.png" class="img-responsive " style=" width: 100% !important;height: auto !important;min-height: 250px;max-height: 250px;"/>
        <ion-card-content>
          <ion-card-title>{{m.descricao}}</ion-card-title>
          <ion-list radio-group [(ngModel)]="m.resposta"> 
            <ion-item style="padding-left: 0px" *ngIf="m.opcao_1!=null && m.opcao_1!='' && m.opcao_1!='undefined' && m.opcao_1!='null'" >
              <ion-label>{{m.opcao_1}}</ion-label>
              <ion-radio value="1" [disabled]="m.respondido"></ion-radio>
            </ion-item>          
            <ion-item style="padding-left: 0px" *ngIf="m.opcao_2!=null && m.opcao_2!='' && m.opcao_2!='undefined' && m.opcao_2!='null'">
              <ion-label>{{m.opcao_2}}</ion-label>
              <ion-radio value="2" [disabled]="m.respondido"></ion-radio>
            </ion-item>          
            <ion-item style="padding-left: 0px" *ngIf="m.opcao_3!=null && m.opcao_3!='' && m.opcao_3!='undefined' && m.opcao_3!='null'">
              <ion-label>{{m.opcao_3}}</ion-label>
              <ion-radio value="3" [disabled]="m.respondido"></ion-radio>
            </ion-item>
            <ion-item style="padding-left: 0px" *ngIf="m.opcao_4!=null && m.opcao_4!='' && m.opcao_4!='undefined' && m.opcao_4!='null'">
              <ion-label>{{m.opcao_4}}</ion-label>
              <ion-radio value="4" [disabled]="m.respondido"></ion-radio>
            </ion-item>  
          </ion-list>
          <button ion-button block color="gold" (click)="votar(m)" [disabled]="m.respondido">Votar</button>
        </ion-card-content>
      </ion-card> 
</ion-content>
